<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="shortcut icon" href="../assets/favicon/fav_icon_tg.svg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bff98d6d0f.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img src="../assets/logos/head_icon_t.svg" alt="Logo" width="200" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link customcolor" href="#">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor" href="#">Actualizaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor" href="#">Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link customcolor" href="#">Contacto</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-outline-primary customcolor mx-3">Ingresar</a>
            </li>
            <li class="nav-item">
              <button class="btn btn-primary custom-btn">Descargar app</button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main class="container" style="padding-top: 70px;">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="right-content">
          <img src="../assets/images/photo_about us_1.png" alt="Imagen" class="img-fluid">
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
        <div class="left-content">
          <h2>Somos Advance,</h2>
          <h1>La primer empresa 100% transparente del mercado.</h1>
          <h2>Te invitamos a conocernos.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
        <div class="left-content">
          <h2>Somos más que solo una empresa,</h2>
          <h1>Somos un equipo, una familia.</h1>
          <h2>En Advance, cada miembro es una parte fundamental, por lo que proveemos las herramientas, oportunidades y contención profesional a quienes lo requieran.</h2>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="right-content">
          <img src="../assets/images/photo_about us_2.png" alt="Imagen" class="img-fluid">
        </div>
      </div>
    </div>
  </main>
  
  <section class="container" style="padding-top: 30px;">
    <div class="row">
      <div class="col-12 col-md-6 mb-4">
        <div class="text-center text_color d-flex flex-column h-100">
          <div class="mt-auto">
            <h2>Nuestra misión.</h2>
            <p>Utilizar la tecnología como medio de integración económica para el comercio a pequeña y gran escala.</p>
          </div>
          <img src="../assets/images/photo_about us_3.png" alt="Imagen Izquierda">
        </div>
      </div>
      <div class="col-12 col-md-6 mb-4">
        <div class="text-center text_color d-flex flex-column h-100">
          <img src="../assets/images/photo_about us_4.png" alt="Imagen Derecha">
          <div class="mt-auto">
            <h2>Nuestra visión.</h2>
            <p>Ser la empresa líder de la región en productos y servicios financieros, atención humana y crecimiento conjunto.</p>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <footer class="index__footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
            <img src="../assets/logos/head_icon_t.svg" alt="Logo" width="300" height="50" style="margin-bottom: 25px;">
            <p>Brindamos acceso a productos financieros seguros, innovadores y transparentes.</p>
          </div>          
        <div class="col-md-4">
          <h4>Conoce Advance</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Términos y condiciones</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12 mb-4">
              <h4>Nuestros canales de comunicación.</h4>
              <div class="iconos">
                <i class="fa-brands fa-twitter fa-2xl mx-1" style="color: #3efac8;" ></i>
                <i class="fa-brands fa-instagram fa-2xl mx-2" style="color: #3efac8;"></i>
                <i class="fa-brands fa-linkedin fa-2xl mx-2" style="color: #3efac8;"></i>
                <i class="fa-brands fa-telegram fa-2xl mx-1" style="color: #3efac8;"></i>
              </div>
            </div>
            <div class="col-md-12 mb-4">
              <h4>Descargá nuestra app.</h4>
              <div class="iconos">
                <button class="btn btn-primary px-4 py-3 custom-btn">
                  <i class="fa-brands fa-google-play fa-2xl" style="color: #333333;"></i> Google Play
                </button>                 
                <button class="btn btn-primary px-4 py-3 custom-btn">
                  <i class="fa-brands fa-apple fa-2xl" style="color: #333333;"></i> App store
                </button> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
  

  